.resultContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: red;
}

.resultBlock{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}